
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <p class="h2 text-primary">Categories</p>
        <a class="btn btn-outline-success btn-sm" href="/categories/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            New
        </a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {{#each this.Categories}}
                <tr>
                    <th scope="row">
                        {{CatID}}
                    </th>
                    <td>
                        {{CatName}}
                    </td>
                    <td class = "text-right">
                        <a class="btn btn-outline-primary btn-sm" href="/categories/adjust/{{CatID}}" role="button">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Adjust
                        </a>

                        <a class="btn btn-outline-danger btn-sm" href="/categories/delete/{{CatID}}" role="button">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Delete
                        </a>
                    </td>
                </tr>

            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>
  
